.navStyle {
  padding: 15px;
  font-size: 20px;
}

/* .imgPosition {
  width: 100%;
  height: 88vh;
}

.countaryCardStyle {
  display: inline;
} */

.landing-page {
  background: whitesmoke url("./assets/img/hotel.jpg") scroll center;
  background-size: cover;
  height: 100vh;
  color: pink;
}

.wrapper {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.pStyle {
  font-size: 22px;
  letter-spacing: 2px;
}
p {
  letter-spacing: 1.5px;
}

.table tbody tr td {
  font-weight: bold !important; /* "!important" mindatory to apply css even inline or internal css we apply */
}
